# 빌드 디렉터리
build/
build-*/

# 컴파일 결과물
*.o
*.obj
*.so
*.a
*.dll
*.exe
*.app

# Qt 자동 생성 파일
*.moc
moc_*.cpp
ui_*.h
qrc_*.cpp

# Qt 프로젝트 설정
*.pro.user
*.pro.user.*
*.autosave

# Qt Creator 관련
*.qmlproject.user
*.qbs.user
*.creator.*
*.creator
.qtcreator/

# Makefile 관련
Makefile.Debug
Makefile.Release

# CMake 관련
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
install_manifest.txt

# 기타
**/*.o
**/.DS_Store
.vscode/